/* //HEADER// */

.header-content {
  background-color: #ce2829;
  display: flex;
  justify-content: center;
  width: 100vw;
}
.nav-links {
  width: 600px;
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 5px;
  color: white;
}
.nav-links a {
  color: white;
  text-decoration: none;
}
/* // DATA-CONTAİNER // */
.data-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 600px;
  margin: auto;
  row-gap: 2vh;
}
.data-container h3 {
  margin: 20px 0px;
}
.header-data {
  display: flex;
  margin: auto 0;
  justify-content: space-between;
}
.header-rating {
  display: flex;
  align-items: center;
  margin: auto;
}
/* //CHOOSE-CONTAİNER // */
.choose-container {
  width: 600px;
  margin: auto;
}
.choose-container .boyut-hamur {
  display: flex;
  justify-content: space-between;
}
.boyut-sec {
  width: 50%;
}
.hamur-sec {
  width: 50%;
}

/* Checkbox */
.checkbox2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.checkbox2 .icerikler {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
}

.icerikler .icerik {
  width: 33%;
  justify-content: flex-start;
  gap: 1rem;
}

.order-note {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.line {
  display: flex;
  justify-content: center;
}
.line .grey-line {
  width: 600px;
  border-bottom: 1px solid black;
}
/* // ORDER-SUMMARY// */
.button-yellow-left {
  background-color: #fdc913;
  border-radius: 10px 0 0 10px;
}
.counter {
  padding: 11px 15px;
  border: 1px solid #faf7f2;
}
.button-yellow-right {
  background-color: #fdc913;
  border-radius: 0 10px 10px 0;
}
.order-summary {
  width: 600px;
  margin: auto;
  display: flex;
}

.counter-container {
  margin: 50px 0px;
  width: 200px;
}
.summary-container {
  margin: 50px 0px;
  width: 400px;
}
.summary-border {
  border: 1px solid #faf7f2;
  border-radius: 10px 10px 0 0;
}
.summary-border h5 {
  padding: 1.5rem 2rem 1rem 2rem;
}
.summary-border div {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}
.submit-button {
  width: 100%;
  text-align: center;
  background-color: #fdc913;
  border-radius: 0 0 7px 7px;
}
.d-flex .p-5 {
  padding: 0 !important;
}
