.bold {
  font-weight: bold;
}

/* //SECTİON// */
.section-content {
  background-color: #ce2829;
  display: flex;
  justify-content: center;
  width: 100vw;
}
.nav-links {
  width: 600px;
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 5px;
  color: white;
}
.nav-links a {
  color: white;
  text-decoration: none;
}
/* // DATA-CONTAİNER // */

.form-data {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.data-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.data-container h3 {
  margin: 20px 0px;
}

.price {
  font-size: 1.5rem;
  margin-bottom: 0 !important;
}
.data-container p {
  margin-top: 0px;
  margin-bottom: 20px;
}
.header-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-data h2 {
  margin: 0;
}

.header-rating {
  display: flex;
  align-items: center;
}
.header-rating p {
  margin: 0;
}
/* //CHOOSE-CONTAİNER // */
.choose-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}
.choose-container .boyut-hamur {
  display: flex;
  justify-content: space-between;
}
.boyut-sec {
  width: 50%;
}
.hamur-sec {
  width: 50%;
}

.dropdown-toggle {
  background-color: white !important;
  color: black !important;
  font-size: 0.8rem !important;
  height: 20px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* Checkbox */
.checkbox2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.checkbox2 .icerikler {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
}

.icerikler .icerik {
  width: 33%;
  justify-content: flex-start;
  gap: 1rem;
}

.order-note {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.line {
  display: flex;
  justify-content: center;
}
.line .grey-line {
  width: 600px;
  border-bottom: 1px solid black;
}
/*  // AD-SOYAD // */

.ad-soyad {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}

/* // ORDER-SUMMARY// */
.button-yellow-left {
  background-color: #fdc913;
  border-radius: 10px 0 0 10px;
}
.counter {
  padding: 11px 15px;
  border: 1px solid #faf7f2;
}
.button-yellow-right {
  background-color: #fdc913;
  border-radius: 0 10px 10px 0;
}
.order-summary {
  width: 600px;
  margin: auto;
  display: flex;
}

.counter-container {
  margin: 50px 0px;
  width: 200px;
}
.summary-container {
  margin: 50px 0px;
  width: 400px;
}
.summary-border {
  border: 1px solid #faf7f2;
  border-radius: 10px 10px 0 0;
}
.summary-border h5 {
  padding: 1.5rem 2rem 1rem 2rem;
}
.summary-border div {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}
.submit-button {
  width: 100%;
  text-align: center;
  background-color: #fdc913;
  border-radius: 0 0 7px 7px;
}
.d-flex .p-5 {
  padding: 0 !important;
}
