/* .main-containerin {
  width: 100vw;
  margin: auto;
} */

/* HEADER ///////////////////// */

header {
  width: 100%;
  padding: 20px 0 20px 0;
  background-color: #ce2829;
  text-align: center;
}

.header-title {
  color: white;
  font-family: "Barlow";
  font-weight: bold;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FOOTER ///////////////////// */

.footer-bottom {
  width: 100vw;
  height: 300px;
  background-color: #292929;
  color: white;
  display: flex;
  align-items: center;
  font-family: "Roboto Condensed";
}
.footer-bottom p {
  margin: 0 !important;
}
.footer-section {
  margin: auto;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-data {
  display: flex;
  width: 600;
}
.footer-social {
  width: 240px;
}
.footer-info {
  margin-right: 30px;
}

.footer-info div {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.footer-social img {
  padding: 0.3rem;
  width: 5rem;
  border-radius: 2px;
}
.line {
  border: 0.2px solid#5F5F5F;
}
.copyRight {
  margin: auto;
  height: 5%;
  width: 100%;
  background-color: #292929;
  color: white;
  display: flex;
}
.copyRight p {
  margin-bottom: 0 !important;
}
.footer-copyright {
  width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

/*  MOBİLE RESPONSİVE */

@media /* (min-width: 481px) and */ (max-width: 767px) {
  .header-title {
    font-size: 30px;
  }
  header {
    width: 100%;
  }
  .footer-bottom {
    width: 100%;
  }
}
