#root {
  max-width: 1920px;
  max-height: 1080px;
  margin: 0;
  padding: 0rem;
  padding: 0;
  min-width: 600px;
}
.main-footer .footer-title {
  color: white;
  background-color: #ce2829;
  padding-top: 5vh;
  height: fit-content;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: "Barlow";
  margin: 0;
  width: 100vw;
}
.footer-bottom {
  width: 100vw;
  height: 18vw;
  background-color: #292929;
  color: white;
  display: flex;
  align-items: center;
  font-family: "Roboto Condensed";
}
.footer-bottom p {
  margin: 0 !important;
}
.footer-section {
  margin: auto;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-data {
  display: flex;
  width: 600;
}
.footer-social {
  width: 240px;
}
.footer-info {
  margin-right: 30px;
}

.footer-info div {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.footer-social img {
  padding: 0.3rem;
  width: 5rem;
  border-radius: 2px;
}
.line {
  border: 0.2px solid#5F5F5F;
}
.copyRight {
  margin: auto;
  height: 5vh;
  width: 100vw;
  background-color: #292929;
  color: white;
  display: flex;
}
.copyRight p {
  margin-bottom: 0 !important;
}
.footer-copyright {
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
